<footer class="footer">
    <div class="site-footer">
        <div class="footer-center">
            <div class="center-column">
                <div class="grid-container">
                    <div class="div-phone-num">
                        <p class="paragraph-phone">
                            <span class="span-phone-num">(651) 644-3983</span>
                        </p>
                    </div>
                    <div class="div-social-media">
                        <ul class="social-media-unordered">
                            <li class="social-media facebook">
                                <a data-testid="linkElement" href="https://www.facebook.com/SAYFSM" target="_blank">
                                    <img alt='Facebook' src="assets/images/Facebook.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="div-copyright">
                        <div class="copyright-column">
                            <p class="copyright-paragraph">
                                <span class="copyright-span">&copy;{{ 'now' | date: "%Y" }} by Sub-Saharan African Youth and Family Services
                      in Minnesota</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>