@import "vars";

body {
  display: inline-flex;
  flex-direction: column;

  &> div {

  }
}

.current {
  color: green;
}

main.pages-container {
  display: flex;
  flex: 3;
  margin: 10px auto;
  position: inherit;
}


element.style {
  text-align: center;
  line-height: 1.35em;
  font-size: 40px;
}
.BaOVQ8 blockquote, .BaOVQ8 h1, .BaOVQ8 h2, .BaOVQ8 h3, .BaOVQ8 h4, .BaOVQ8 h5, .BaOVQ8 h6, .BaOVQ8 p, .KcpHeO blockquote, .KcpHeO h1, .KcpHeO h2, .KcpHeO h3, .KcpHeO h4, .KcpHeO h5, .KcpHeO h6, .KcpHeO p {
  margin: 0;
}
.BaOVQ8 blockquote, .BaOVQ8 h1, .BaOVQ8 h2, .BaOVQ8 h3, .BaOVQ8 h4, .BaOVQ8 h5, .BaOVQ8 h6, .BaOVQ8 p {
  letter-spacing: normal;
  line-height: normal;
}
.font_6 {
  font: var(--font_6);
  color: rgb(var(--color_15));
  letter-spacing: 0em;
}
.BaOVQ8>*, .KcpHeO>* {
  pointer-events: auto;
}
a, abbr, acronym, address, applet, b, big, blockquote, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
user agent stylesheet
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}
user agent stylesheet
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.BaOVQ8, .KcpHeO {
  word-wrap: break-word;
  min-height: var(--min-height);
  min-width: var(--min-width);
  overflow-wrap: break-word;
  pointer-events: none;
  text-align: start;
}
[data-mesh-id$=-gridContainer]>*, [data-mesh-id$=-rotated-wrapper]>*, [data-mesh-id$=inlineContent]>:not([data-mesh-id$=-gridContainer]) {
  pointer-events: auto;
}
[data-mesh-id$=centeredContent], [data-mesh-id$=form], [data-mesh-id$=inlineContent] {
  pointer-events: none;
  position: relative;
}
#comp-kn7xjx651 {
   --bg-overlay-color: rgb(var(--color_11));
   --bg-gradient: none;
   width: 100%;
   --column-width: 980px;
   --column-flex: 980;
}
 #comp-kn7xjx65 {
   --bg-overlay-color: transparent;
   --bg-gradient: none;
   --padding: 0px;
   --margin: 0px;
   min-width: 980px;
   --firstChildMarginTop: -1px;
   --lastChildMarginBottom: -1px;
   --items-direction: row;
 }
:host(:not(.device-mobile-optimized)) .CohWsy, body:not(.device-mobile-optimized) .CohWsy {
  --display: flex;
  display: var(--display);
}
.SPY_vo {
  pointer-events: none;
}
#SITE_PAGES {
  --transition-duration: 700ms;
}
#PAGES_CONTAINER {
  --pinned-layer-in-container: 51;
  --above-all-in-container: 49;
}
#masterPage:not(.landingPage) {
  --top-offset: 0px;
  --header-height: 400px;
}
#masterPage {
  --pinned-layers-in-page: 0;
}
body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10px;
}

