

#comp-lhces85f-inlineContent-gridContainer {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: repeat(5, min-content) 1fr;
  grid-template-columns: 100%;

  > [id="comp-lhces85g"] {
    position: relative;
    margin: 20px 0 20px calc((100% - 980px) * 0.5);
    left: 0;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
  }

  #comp-lhces85g {
    --bg-overlay-color: transparent;
    --bg-gradient: none;
    --padding: 0px;
    --margin: 20px;
    min-width: 980px;
    --items-direction: row;
  }

  //> [id="comp-lhces85h1"] {
  //  position: relative;
  //  margin: 0 0 20px calc((100% - 980px) * 0.5);
  //  left: 0;
  //  grid-area: 2 / 1 / 3 / 2;
  //  justify-self: start;
  //  align-self: start;
  //}

  #comp-lhces85h1 {
    //min-width: 980px;
    margin: 0 auto;
    //width: calc(100% - 20px - 20px);
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;

    .comp-lhces85h2 {
      background-color: rgb(185, 185, 185);
      margin: auto;

      .newsletter-anchor {
        width: 300px;
        height: 300px;
      }
    }
  }
}

[id*="-wrapper"] {
  display: flex;
  flex-direction: column;
  text-align: center;

  #section-title {
    padding: 20px 0;

    .title {
      h1.header-title {
        font-family: Oswald-ExtraLight, Oswald, Helvetica, Sans-Serif;
        text-align: center;
        font-size: 40px;

        .span-header {
          text-transform: uppercase;
          font-weight: 100;
        }
      }
      h2.header-subtitle {
        text-align: center;
        font-size: 20px;
      }
    }
  }

  #section-anchors {
    padding-bottom: 20px;

    .newsletter-container {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;

      a {
        text-decoration: none;

        .individual {
          background-color: rgb(240, 240, 240);
          width: 200px;
          margin: auto;

          .individual-icon {
            padding: 10px 5px 5px 5px;
          }
          .anchor-span {
            font-family: "Arial, Helvetica, sans-serif", serif;
            font-size: 20px;
            padding: 5px;
            text-decoration: none;
          }
          .anchor-span-two {
            font-family: "Arial, Helvetica, sans-serif", serif;
            font-size: 14px;
            padding: 5px 5px 10px 5px;
            text-decoration: none;
          }
        }
      }
    }
  }

  #section-envelope {
    min-width: 780px;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    #section-left {
      #image-wrapper {
        display: block;

        #image-sizer {
          width: 100%;
          display: block;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }

    #section-right {
      display: block;
      width: 80%;

      .newsletter-container {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px 15px;

        a {
          text-decoration: none;

          .individual {
            background-color: rgb(240, 240, 255);
            width: 180px;
            margin: auto;

            .individual-icon {
              padding: 15px;
            }
            .anchor-span {
              font-family: "Arial, Helvetica, sans-serif", serif;
              font-size: 1.5em;
              text-decoration: none;
              padding: 10px;
            }
          }
        }
      }
    }

    #section-paragraphs,
    .section-paragraphs {
      width: 780px;
      margin: 10px auto;

      .title {
        h2.paragraph-title {
          font-family: Oswald-ExtraLight, Oswald, Helvetica, Sans-Serif;
          text-align: center;
          font-size: 40px;

          .span-header {
            text-transform: uppercase;
            font-weight: 100;
          }
        }
      }

      .paragraph-text {
        text-align: center;
        line-height: 1.875em;
        font-size: 15px;
      }
    }

    .section-paragraphs {
      background-color: #DDD;
      text-align: left;

      .title {
        h2.paragraph-title {
          font-family: Oswald-ExtraLight, Oswald, Helvetica, Sans-Serif;
          text-align: left;
          font-size: 30px;
        }

        .span-header {
          font-weight: 100;
        }

        .paragraph-text {
          text-align: left;
          line-height: 1.875em;
          font-size: 15px;
        }
      }
    }

    #about-first-image {
      width: 100%;
      margin: 20px 0;

      .image-envelope {
        width: 100%;
      }
    }

    #about-checkerboard {
      margin: 20px 0;
      .checkerboard-envelope {

        .checkerboard-table {

          .checkerboard-tr {

            .checkerboard-td-image {

              .checkerboard-image-envelope {

              }
            }

            .checkerboard-td-text {
              padding: 10px;
              vertical-align: middle;
              width: 220px;

              .checkerboard-span-text {
                font-size: 20px;
                font-family: Oswald-ExtraLight, Oswald, Helvetica, Sans-Serif;
              }
            }
          }
        }
      }
    }

    #index-first-image {
      width: 100%;
      margin: 20px 0;

      .image-envelope {
        width: 100%;
      }

      #overlay-text {
        font-family: Oswald-ExtraLight, Oswald, Helvetica, Sans-Serif;
        position: absolute;

        .title-overlay-text {
          color: antiquewhite;
          display: block;
          font-size: 50px;
          left: 112px;
          position: absolute;
          top: -550px;
          width: 700px;
        }

        .overlay-subtext {
          color: antiquewhite;
          font-size: 30px;
          left: 334px;
          position: relative;
          top: -155px;
        }
      }
    }

    #index-mission-statement {

      .mission-statement-text {
        margin: 40px auto;
        width: 800px;

        .mission-statement-one {
          font-family: Oswald-ExtraLight, Oswald, Helvetica, Sans-Serif;
          font-size: 40px;
          margin: 40px;
        }

        .mission-statement-two {
          font-family: "Times New Roman";
          font-size: 20px;
          margin: 20px;
        }

        .mission-statement-three {
          font-family: Helvetica, Arial, sans-serif;
          font-size: 15px;
          margin: 20px;
        }
      }
    }

    #index-way-we-help {
      font-family: Helvetica, Arial, sans-serif;
      margin: 0 auto;
      padding: 20px;
      width: 850px;

      .index-mission-envelope {
        background-color: #dedede;
        padding: 20px;

        .way-we-help-mission-statement-one {
          font-family: Oswald-ExtraLight, Oswald, Helvetica, Arial, Sans-Serif;
          text-transform: uppercase;
          margin: 20px;

          .title {
            font-size: 30px;
          }
        }
        .way-we-help-mission-statement-two {
          margin: 20px;

          .sub-title {
            font-size: 20px;
          }
        }
        .mission-statement-three {

          .mission-paragraph {
            font-size: 15px;
            font-style: italic;
          }
        }

        .may-we-help-mission-contact-us {
          margin: 40px;

          #linkElement {
            text-decoration: none;
          }
        }
      }
    }
  }
}

#programs-wrapper #section-envelope {
  flex-direction: column;

  .section-paragraphs {
    background-color: #dddddd;
    padding: 20px;

    .paragraph-text {
      text-align: left;

      ul {
        padding-left: 40px;
      }
    }
  }
}
#newsletter-wrapper #section-envelope {
  flex-direction: row;
}

#index-wrapper #section-envelope {
  #index-last-image {
    .image-envelope {

    }
    h1.title-overlay-text {
      color: antiquewhite;
      display: block;
      font-size: 25px;
      left: -39px;
      position: relative;
      top: -300px;
    }
    .overlay-subtext {
      color: antiquewhite;
      font-size: 20px;
      left: 227px;
      position: relative;
      top: -290px;
    }
  }
}
