:root, :host, .spxThemeOverride {
  --color_0: 255,255,255;
  --color_44: 255,255,255;
  --color_22: 165,165,165;
  --color_1: 24,24,24;
  --color_2: 51,52,63;
  --color_3: 31,31,31;
  --color_4: 246,246,246;
  --color_5: 205,206,215;
  --color_6: 255,255,255;
  --color_7: 197,197,197;
  --color_8: 140,140,140;
  --color_23: 121,121,121;
  --color_9: 82,82,82;
  --color_10: 24,24,24;
  --color_11: 255,255,255;
  --color_12: 197,197,197;
  --color_13: 140,140,140;
  --color_14: 82,82,82;
  --color_15: 24,24,24;
  --color_16: 182,183,196;
  --color_17: 110,112,136;
  --color_18: 51,52,63;
  --color_24: 76,76,76;
  --color_19: 34,35,42;
  --color_20: 17,17,21;
  --color_21: 210,210,210;
  --color_25: 31,31,31;
  --color_26: 251,251,251;
  --color_27: 246,246,246;
  --color_28: 185,185,185;
  --color_29: 123,123,123;
  --color_30: 62,62,62;
  --color_31: 230,231,235;
  --color_32: 205,206,215;
  --color_33: 147,149,168;
  --color_34: 93,96,117;
  --color_35: 47,48,58;
  --color_36: 255,255,255;
  --color_37: 24,24,24;
  --color_38: 197,197,197;
  --color_39: 140,140,140;
  --color_46: 24,24,24;
  --color_40: 82,82,82;
  --color_41: 51,52,63;
  --color_42: 24,24,24;
  --color_43: 140,140,140;
  --color_47: 197,197,197;
  --color_48: 51,52,63;
  --color_49: 51,52,63;
  --color_50: 255,255,255;
  --color_51: 255,255,255;
  --color_52: 51,52,63;
  --color_53: 51,52,63;
  --color_54: 140,140,140;
  --color_55: 140,140,140;
  --color_56: 255,255,255;
  --color_57: 255,255,255;
  --color_58: 51,52,63;
  --color_59: 255,255,255;
  --color_60: 51,52,63;
  --color_61: 51,52,63;
  --color_62: 255,255,255;
  --color_63: 255,255,255;
  --color_64: 140,140,140;
  --color_65: 140,140,140;

  --font_0: normal normal normal 22px/1.41em oswald-extralight,oswald,sans-serif;
  --font_1: normal normal normal 14px/1.79em helvetica-w01-light,helvetica-w02-light,sans-serif;
  --font_2: normal normal normal 28px/1.375em oswald-extralight, oswald, sans-serif;
  --font_3: normal normal normal 88px/1.2em oswald-extralight, oswald, sans-serif;
  --font_4: normal normal normal 72px/1.25em oswald-extralight, oswald, sans-serif;
  --font_5: normal normal normal 50px/1.34em oswald-extralight, oswald, sans-serif;
  --font_6: normal normal normal 40px/1.35em oswald-extralight, oswald, sans-serif;
  --font_7: normal normal normal 20px/1.67em 'playfair display', serif;
  --font_8: normal normal normal 18px/1.75em 'playfair display', serif;
  --font_9: normal normal normal 15px/1.875em helvetica-w01-light, helvetica-w02-light, sans-serif;
  --font_10: normal normal normal 14px/1.79em helvetica-w01-light, helvetica-w02-light, sans-serif;

  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --theme-spx-ratio: 1px;
}